%btn {
  border: 0;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 8px 16px;

  &:active {
    background-color: lighten($color-secondary, 10%);
  }

  &:hover {
    cursor: pointer;
  }
}

.btn {
  &-main {
    @extend %btn;
    @include card(1);
    background-color: $color-secondary;
    color: $color-primary;

    &.add-pharmacy {
      display: block;
      margin: 0 auto 25px;
    }

    &.add-product {
      margin-bottom: 25px;
    }

    &:hover {
      background-color: $color-hover;
    }
  }

  &-navigate {
    @extend %btn;
    @include card(1);
    background-color: #717171;
    &.register {
      margin-left: 15px;
      background-color: #717171;
    }
    color: #ffffff;

    &:hover {
      color: #ffffff;
      background-color: $color-hover;
    }
  }

  &-menu {
    @extend %btn;
    background-color: lighten($color-secondary, 15%);
    margin-right: 15px;
    color: #ffffff;
    font-size: 14px;

    &:hover,
    &:focus {
      @include card(1);
      background-color: $color-hover;
      color: #ffffff;
    }
  }
}
